.open-sans-norml {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* shared styles */

.main-header{
     background-image: url(../Assets/Hero-bg.png);
     width: 1440px;
     height: 698px;
     gap: 158px;

    margin: 0px auto
}


/* nav styles */
nav{
    display: flex;
    justify-content: space-between;
    padding: 0px 70px;
    margin: 50px;
    font-size: 40px;
    text-align: center;
    align-items: center;
     background-image: url(../Assets/Hero-bg.png);
    max-width: 1140px;
    
   
    
}
.section-title{
    color:#4E47FF;
    font-weight: 700;
}
nav ul li{
    list-style: none;
}
nav li a{
    text-decoration: none;
}
.btn-primary{
    background-color: #4E47FF;
    color:#FFFFFF;
     font-weight: bold;
    border-radius: 5px;
    font-size: 20px;
    border: none;
   width: 229px;
   height: 48px;
    margin: 10px ;
}
 .btn-primary:hover{
    background-color: red;
     }

/* banner styles */
.banner{
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 37px;
    padding: 150px;
    display: flex;

}
.banner-content{
     text-align: center;
    color: #252432;
    font-weight: 905;
    font-size: 30px;
    height: 237px;
    max-width: 560px;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 37px;
}
/* action styles */
.section-content{
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    margin: 40px 300px;
}


.section-container{
    
    justify-content: space-between;
    gap: 45px;
    padding:180px;
    max-width:580px;

    
}
.section-title{
    font-size: 35px;
    font-weight: bold;
    color: #252432;
   
 }
 .section-description{
    color:#6c698a;
    margin: 20px;
    font-size: 20px;
 }
 .img-content{

 }
 .img-container{
    gap: auto;
    padding: 140px;
    border: #252432;
    border-;
    border-radius: 48px;
    width: 380px;
    height: 280px;
    text-shadow: #252432;
 }
 /* banner-2 styles */
.banner-2{
    background-color: antiquewhite;
    padding:40px 0px;
    margin: 10px 60px ;
    height: 306px;
    gap: 5px; 
    height: 270px;
    margin-bottom: 10px;
    line-height: 7px;
    max-width: 100%;
    

    
  

}
.banner-2-container{
    font-weight: bold;
    font-size: 38px;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: none;
   margin-bottom: 10px;

}
.banner-2-content{
    gap: 5px;
   

}
.banner-2-description{
     font-weight: bold;
    font-size: 80px;
    color: #4E47FF;
}
.banner-2-content{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 158px;
}
.content-heading{
    color: #252432;
}
.banner-2-paragraph{
    color: #000000;

}
/* productive styles */
.content-box{

}
.content-section{
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    padding: 45px;
    color: #252432;
    font-weight: bold;
    font-size: 42px;
}
.layout-grid{
    display: flex;
    align-items: center;
   justify-content: center;
   gap: 20px;
}
.main-area{
    margin: 20px;
    background-color:#F2EDED ;
    padding: 28px;
}
.info-heading{
    color: #1E1E1E;
    font-size: 24px;
}
.text-muted{
    color: #1E1E1E;
    font-size: 15px;
    
 }
 .icon-img{
    color: #FFFFFF;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    

 }
 .row{
    display: flex;
    align-items: center;
    gap: 10px;
 }
 /* form style */
 .bio-section{
    width: 740px;
    height: 47px;
    font-weight: bold;
    font-size: 97px;
 }
 .form-group{
   
    

 }
 .flex-row{
 display: flex;
 justify-content: space-around;
 padding: 71px;
 }
 .bio-section{

 }
 
 .profile-card{
    font-weight: bold;
    font-size: 18px;
    
    gap: 10px;
 }
 .profile-box{ 

    
 }
 .btn-secondary{
     background-color: #4E47FF;
    color:#FFFFFF;
     font-weight: bold;
    border-radius: 5px;
    font-size: 20px;
    border: none;
    width: 297px;
    height: 62px;

 }
 .btn-secondary:hover{
    background-color: orangered;
 }
 .form-body{
    width: 297px;
    height: 40px;
    padding: 12px 10px;
    border-radius: 10px;
    gap: 10px;
 }
 .message-tools{
    width: 297px;
    height: 70px;
    padding: 12px 10px;
    gap: 10px;
    border-radius: 10px;
 }
 .message-card{
      font-weight: bold;
    font-size: 18px;
    
    gap: 10px;
 }
